<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box blue-bg">
          <i class="fa fa-users" aria-hidden="true"></i>
                  <div class="count">6.674</div>
        <div class="title">Students</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box brown-bg">
        <i class="fa fa-street-view"></i>
        <div class="count">7.538</div>
        <div class="title">Teachers</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box dark-bg">
        <i class="fa fa-user"></i>
        <div class="count">4.362</div>
        <div class="title">Users</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box green-bg">
        <i class="fa fa-cubes"></i>
        <div class="count">1.426</div>
        <div class="title">Empoloyee</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->

  </div>


